body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav a.active, 
nav a:hover {
    color: #ffd700;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

.big-grey-bar, 
.small-grey-bar {
    background-color: #333; 
    padding: 10px;
    text-align: center;
}

.big-grey-bar h1, 
.big-grey-bar h3 {
    color: #fff;
}

.certificate {
    margin-bottom: 20px;
}

.certificate img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.certificate img.placeholder {
    max-height: 520px;
}

.certificate img.pdf-resize {
    max-height: 600px;
}

.certificate img.png-resize {
    max-height: 500px;
}

.certificate-text {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .certificate img {
        max-height: 50vh;
    }

    .certificate img.ciw-certificate {
        max-height: 30vh;
    }

    .certificate img.autodesk-certificate {
        max-height: 25vh;
    }

    .certificate img.ibm-certificate {
        max-height: 20vh;
    }
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-pic-wrapper {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile-pic-wrapper img {
    max-width: 200px;
    height: auto;
    border-radius: 10%;
    display: block;
}

.intro {
    color: #fff;
    padding-top: 80px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.slim-rectangular-box {
    display: flex;
    justify-content: center;
}

.slim-rectangular-box a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.organization-box {
    color: #fff;
    border: 1px solid #d1d1d1;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;  /* Gives a hint that it's clickable */
}

.organization-box:hover {
    color: #000;
    background-color: #ffd700;  /* A subtle hover effect */
}

.organization-box img {
    max-width: 100px;  /* or adjust as needed */
    height: auto;
    margin-bottom: 10px;  /* space between the logo and text */
}
